<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>List Of All Apps Which Are Currently Supported</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Apollo</string>
 			<key>detail</key>
 			<string>RSEApolloSubPrefsListController</string>
 			<key>RSESub</key>
 			<string>apolloSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Calculator</string>
 			<key>detail</key>
 			<string>RSECalculatorSubPrefsListController</string>
 			<key>RSESub</key>
 			<string>calculatorSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Instagram</string>
 			<key>detail</key>
 			<string>RSEInstagramSubPrefsListController</string>
 			<key>RSESub</key>
 			<string>instagramSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Music</string>
 			<key>detail</key>
 			<string>RSEMusicSubPrefsListController</string>
 			<key>RSESub</key>
 			<string>musicSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Phone</string>
 			<key>detail</key>
 			<string>RSEPhoneSubPrefsListController</string>
 			<key>RSESub</key>
 			<string>phoneSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Safari</string>
 			<key>detail</key>
 			<string>RSESafariSubPrefsListController</string>
 			<key>RSESub</key>
 			<string>safariSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Spotify</string>
 			<key>detail</key>
 			<string>RSESpotifySubPrefsListController</string>
 			<key>RSESub</key>
 			<string>spotifySub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Twitter</string>
 			<key>detail</key>
 			<string>RSETwitterSubPrefsListController</string>
 			<key>RSESub</key>
 			<string>twitterSub</string>
 		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>