<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Haptic Feedback When..</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTplayButton</string>
			<key>label</key>
			<string>Resuming/Pausing Song</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTplayBarButton</string>
			<key>label</key>
			<string>Mini Player Resuming/Pausing Song</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTpreviousTrackButton</string>
			<key>label</key>
			<string>Rewinding Song</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTnextTrackButton</string>
			<key>label</key>
			<string>Skipping Song</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTrepeatButton</string>
			<key>label</key>
			<string>Tapping Repeat Button</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTshuffleButton</string>
			<key>label</key>
			<string>Tapping Shuffle Button</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTqueueButton</string>
			<key>label</key>
			<string>Tapping Queue Button</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTslider</string>
			<key>label</key>
			<string>Using Time Slider</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTfreeTierButton</string>
			<key>label</key>
			<string>Tapping Like Button</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTavailableDevicesButton</string>
			<key>label</key>
			<string>Tapping Devices Button</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTnowPlayingLabel</string>
			<key>label</key>
			<string>Tapping Song Label</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTplaylistButtons</string>
			<key>label</key>
			<string>Tapping Playlist Buttons</string>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Strength Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Play Button Strength</string>
			<key>key</key>
			<string>customStrengthSPTplayButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Mini Player Play Button Strength</string>
			<key>key</key>
			<string>customStrengthSPTplayBarButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Previous Button Strength</string>
			<key>key</key>
			<string>customStrengthSPTpreviousTrackButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Skip Button Strength</string>
			<key>key</key>
			<string>customStrengthSPTnextTrackButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Repeat Button Strength</string>
			<key>key</key>
			<string>customStrengthSPTrepeatButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Shuffle Button Strength</string>
			<key>key</key>
			<string>customStrengthSPTshuffleButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Queue Button Strength</string>
			<key>key</key>
			<string>customStrengthSPTqueueButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Time Slider Strength</string>
			<key>key</key>
			<string>customStrengthSPTslider</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Like Button Strength</string>
			<key>key</key>
			<string>customStrengthSPTfreeTierButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Devices Button Strength</string>
			<key>key</key>
			<string>customStrengthSPTavailableDevicesButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Label Strength</string>
			<key>key</key>
			<string>customStrengthSPTnowPlayingLabel</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.rosepreferences</string>
			<key>label</key>
			<string>Custom Playlist Buttons Strength</string>
			<key>key</key>
			<string>customStrengthSPTplaylistButtons</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light: Haptic Engine</string>
				<string>Medium: Haptic Engine</string>
				<string>Heavy: Haptic Engine</string>
				<string>Light: Taptic Engine</string>
				<string>Medium: Taptic Engine</string>
				<string>Strong: Taptic Engine</string>
				<string>Soft: Taptic Engine</string>
				<string>Rigid: Taptic Engine</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.rosepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>